<li>
	<button class="change-served" data-id="{{order_id}}" data-newserved="{{served}}">
       	{{#if served}}re-post{{else}}SERVE IT!{{/if}}
	</button>
	<button class="delete-order" data-id="{{order_id}}">DELETE!</button>
	{{menuItem}}
</li>
